@model IEnumerable<NSCC_WebAppProg_SeatYourself.Models.Occasion>

@{
    ViewData["Title"] = "Occasions";
}

<h1 class="text-center">Occasions</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Filename))
                {
                    <img src="@item.Filename" alt="Occasion Image" style="width: 60px; height: 60px; object-fit: cover; border-radius: 6px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Date.ToString("MMMM dd, yyyy")
            </td>
            <td>
                @item.Time.ToString("hh:mm tt")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OccasionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OccasionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OccasionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
